//Header
header
    .topbar
        .container
            .row
                .col-md-6
                    .dropdown
                        button.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Türkçe
                        .dropdown-menu
                            a.dropdown-item(href='#') İngilizce


                .col-md-6
    