meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")

// SEO meta
meta(name="description" content="")
meta(name="keywords" content="")

title Front-end Starter Kit

// Add CSS files
link(rel="stylesheet", href="css/main.css")
link(rel="stylesheet", href="css/theme.css")

link(rel="icon" href="img/favicon.png")

// Chrome, Firefox OS and Opera
meta(name="theme-color" content="black")
// Windows Phone
meta(name="msapplication-navbutton-color" content="black")
// iOS Safari
meta(name="apple-mobile-web-app-status-bar-style" content="black")