// General
html{
    font-family:$montserrat-font;
    font-size:1em;
    color:#3c3c3c;
    max-width:100%;
    max-height:100%;
}
body{
    background:#fff;
}
// Fonts
$montserrat-font: 'Montserrat', sans-serif;
$raleway-font: 'Raleway' , sans-serif;

//Colors

