//Main Slider
section.main-slider
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    img(src="https://dummyimage.com/1140x360/fff/aaa")
                .swiper-slide
                    img(src="https://dummyimage.com/1140x360/000/aaa")
                .swiper-slide
                    img(src="https://dummyimage.com/1140x360/fff/aaa")
            // Add Arrows
            .swiper-button-next
            .swiper-button-prev
            // Add Pagination
            .swiper-pagination



